body{
    margin: 0 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #444545;
}

.cover_background{
    max-height: 842px;
    width: 100%;
    aspect-ratio: 16 / 10;
    margin: 0;
    position: relative;
    background-image: url("../img/coverbackground.png");
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 800px) {
  .cover_background{
    min-height: 462px;
    margin-bottom: -22px;
    background-image: url("../img/iphone/coverbackground.png");
  }
}

.cover_logo {
    height: 11%;
}

.cover_logo img{
    position: absolute;
    top: 14px;
    left: 40px;
    width: 14%;
    max-width: 187.188px;
    max-height: 48.828px;
}
@media screen and (max-width: 800px) {
  .cover_logo img {
    left: 13px;
    width: 19%;
    max-width: 100px;
  }
}

.catch_word p{
    color: white;
    font-size: clamp(16px, 2.5vw, 28px);
    width: 100%;
    text-align: center;
    margin: 4px 0;
    font-weight: bold;
}
@media screen and (max-width: 800px) {
  .catch_word p {
    margin: 20px 0;;
  }
}

.title{
    height: 41%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 41px;
    margin-bottom: 8px;
}
@media screen and (max-width:800px){
  .title {
    height: 31.7%;
    padding: 2px;
    margin: 4px;
  }
}

.sponsore{
    display: none;
}
@media screen and (max-width:800px){
  .sponsore{
    width: 100%;
    display: inline-block;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    margin: 0;
    margin-bottom: 11px;
    font-family: "Roboto", sans-serif;
  }
  .sponsore span:nth-child(1){
    font-style: normal;
    font-size: 27px;
    letter-spacing: 8px;
  }
  .sponsore span:nth-child(2){
    font-style: normal;
    font-size: 27px;
  }
}

.date{
    text-align: center;
    width: 100%;
    color: white;
    font-size: clamp(23px, 3vw, 42px);
    /* transform: skewX(-8deg); */
    font-weight: bold;
    font-style: italic;
    margin: 0;
    margin-bottom: 6px;
    font-family: "Roboto", sans-serif;
}
.date span{
    font-size: clamp(16px, 2vw, 29px);
}

.place{
    text-align: center;
    width: 100%;
    color: white;
    font-size: clamp(14px, 2.5vw, 28px);
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 3%;
}

.Application_form_button img{
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 30%;
    height: 8%;
    max-width: 432px;
}
@media screen and (max-width:800px) {
  .Application_form_button{
    display: none;
  }
}

.section2_background{
    width: 100%;
    margin: 0;
    position: relative;
    background-image: url("../img/background_section2.svg");
    background-size: 100%;
    background-position: center ;
    background-size: cover;
    text-align: center;
    padding-top: 24px;
    height: auto;
    padding-bottom: 45px;
}
@media screen and (max-width: 800px) {
  .section2_background{
    background-repeat: no-repeat;
    background-image: url("../img/iphone/background_section2.svg");
    padding-top: 47px;
    padding-bottom: 35px;
  }
}

.section2_background h1{
    color:  #81D7FC;
    font-size: clamp(23px, 4vw, 54px);
    margin: 0;
    margin-bottom: 9px;
    font-style: italic;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.bullet_point{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 28px;
}

.bullet_point p{
    font-size: clamp(13px, 2vw, 18px);
    letter-spacing: 1px;
    margin: 0;
    padding: 0 20px;
    font-weight: bold;
}
.bullet_point:before, .bullet_point:after{
    border-top: 1px solid black;
    content: "";
    width: 31px;
}

.about_summit h2{
    margin: 60px;
    margin-bottom: 42px;
    font-size: 22px;
    line-height: 43px;
    font-weight: bold;
}
@media screen and (max-width:800px){
  .about_summit h2{
    display: none;
  }
}

.section2_description{
    width: 67%;
    max-width: 965px;
    line-height: clamp(37px, 4vw, 45px);
    margin: 0;
    margin-bottom: min(151px, 11%);
    font-size: clamp(16px, 2vw, 18px);
    text-align: left;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: 500;
}
@media screen and (max-width:800px){
  .section2_description{
    margin: 27px 0;
    margin-top: -7px;
    width: 70%;
    min-width: 296px;
  }
}

.summary_graph{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0px;
    height: auto;
    max-width: 964.797px;
    width: 67%;
}
@media screen and (max-width:800px){
  .summary_graph{
    width: 89%;
  }
}

.summary_graph h2{
    max-width: 169.797px;
    min-width: 109px;
    width: 20%;
    margin:29px 2px;
    line-height: clamp(22px, 5vw, 50px);
    border: 1px solid #FDD35C;
    border-radius: 53px;
    color: #FDD35C;
    font-size: clamp(15px, 2vw, 22px);
    font-weight: bold;
    align-self: flex-start;
}
@media screen and (max-width:800px){
  .summary_graph h2{
    margin:0px 2px;
  }
}

.summary_graph p{
    margin: 4px 0px;
    margin-top: 37px;
    margin-left: 19px;
    font-size: clamp(14px, 2.2vw, 22px);
    font-weight: bold;
    text-align: left;
    align-self: flex-start;
}
@media screen and (max-width:800px){
  .summary_graph p{
    margin: 8px 11px;
    margin-top: 0px;
    line-height: 24px;
  }
}


.event_summary hr{
    border: 0;
    border-bottom: 1px dotted #ccc;
    width: 65%;
    max-width: 936px;
}
.space_hr{
    margin-top: 30px;
}
@media screen and (max-width:800px){
  .space_hr{
    margin-top: 0px;
  }
}

.summary_graph_txtbox{
    text-align: left;
    align-self: flex-start;
}

.summary_graph .summary_graph_txtbox_p{
    margin-top: 30px;
}
@media screen and (max-width:800px){
  .summary_graph .summary_graph_txtbox_p{
    margin-top: 4px;
    margin-bottom: 2px;
  }
}

.summary_graph_txtbox ul{
    list-style-type: none;
}


.summary_graph_txtbox_iframe_til1440px{
    border: 0px;
    min-width: 368px;
    max-width: 650px;
    height: 242px;
    margin: 29px 0;
}
.summary_graph_txtbox_iframe{
    display: none;
}
@media screen and (max-width:1300px){
  .summary_graph_txtbox_iframe_til1440px{
    display: none;
  }
  .summary_graph_txtbox_iframe{
    margin: auto;
    margin-top: 30px;
    border: 0px;
    min-width: 368px;
    display: block;
    width: 65%;
    aspect-ratio: 15 / 8;
  }
}

.access_detail{
  font-size: 14px;
  margin: 0;
  margin-bottom: 3px;
  padding: 0 19px;
  font-weight: 500;
}
.access_detail li{
  padding-left: 14px;
}
@media screen and (max-width:800px){
  .access_detail{
  padding: 0px;
  font-weight: 400;
  }
.access_detail li{
  padding-left: 12px;
  font-weight: 400;
  }
}

.access_detail span{
  color: #FDD35C;
}

.contents{
  background-color: #FFF6DC;
  width: 100%;
  text-align: center;
  padding-bottom: 78px;
}
@media screen and (max-width:800px){
  .contents{
    padding-bottom: 20px;
    padding-top: 13px;
  }
}

.contents h1{
    color: #FDD35C;
    /* transform: skewX(-10deg); */
    font-size: 54px;
    font-style: italic;
    margin: auto;
    padding-top: 67px;
    margin-bottom: 9px;
    font-family: "Roboto", sans-serif;
}
@media screen and (max-width:800px){
  .contents h1{
    font-size: clamp(23px, 4vw, 54px);
    padding-top: 20px;
  }
}

.contents_box_flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:800px){
  .contents_box_flex{
    flex-wrap: wrap;
  }
}

.contents_box{
    width: 432px;
    height: auto;
    border: solid 3px #FDD35C;
    border-radius: 8px;
    margin: 26px 44px;
    overflow: hidden;
    background-color: white;
}
@media screen and (max-width:800px){
  .contents_box{
    margin: -8px 26px;
    width: 432px;
    margin-bottom: 34px;
  }
}


.contents_box_header{
    background-color: #FDD35C;
    color: white;
    margin: 0;
    padding: 10px 0;
    font-size:clamp(18px, 2vw, 24px);
    font-weight: bold;
}
@media screen and (max-width:800px){
  .contents_box_header{
    padding: 7px 0;
  }
}

.ribon{
  margin-bottom: 0px;
}

.contents_box_description1{
  margin-top: 14px;
  margin-bottom: -4px;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width:800px){
  .contents_box_description1{
    margin-top: 11px;
    margin-bottom: -9px;
    font-size: 11px;
  }
}


.contents_box_description2{
    margin-top: -19px;
    margin-bottom: 3px;
    font-size:clamp(21px, 2.3vw, 29px);
    color: #FDD35C;
    font-weight: bold;
    height: 64px;
    line-height: 64px;
}
@media screen and (max-width:800px){
  .contents_box_description2{
    margin-top: -23px;
    margin-bottom: -8px;
    font-size:21px;
  }
}

.contents_box_description2 span{
    font-size: clamp(34px, 4vw, 44px);
    display: inline-block;
    transform: skewX(-11deg) scaleX(0.9);
    font-weight: 600; 
    margin-top: -6px;
    font-family: "Roboto", sans-serif;
}
@media screen and (max-width:800px){
  .contents_box_description2 span{
    font-size:34px;
  }
}

.contents_box_picture{
    max-width: 339px;
    width: 90%;
    height: 179px;
    margin: 0 2px;
    margin-bottom: 15px;
}
@media screen and (max-width:800px){
  .contents_box_picture{
    width: 79%;
    height: 138px;
    margin-bottom: 12px;
  }
}


.Application_form_button2 img{
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 62.750px;
    width: 418px;
    margin-top: 33px;
}
@media screen and (max-width:800px) {
  .Application_form_button2{
    display: none;
  }
}

.pickup{
  width: 100%;
  height: auto;
  text-align: center;
  border-left: 49px solid #FDD35C;
  border-right: 49px solid #FDD35C;
  box-sizing: border-box;
  padding-bottom: 43px;
}
@media screen and (max-width:800px){
  .pickup{
  border-left: 10px solid #FDD35C;
  border-right: 10px solid #FDD35C;
  }
}

.pickup h1{
    color: #FDD35C;
    /* transform: skewX(-10deg); */
    font-style: italic;
    font-size: 54px;
    margin: auto;
    padding-top: 37px;
    margin-bottom: 9px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
@media screen and (max-width:800px){
  .pickup h1{
    font-size: clamp(23px, 4vw, 54px);
    padding-top: 20px;
  }
}

@media screen and (max-width:800px){
  .company_list{
    padding: 10px;
  }
}
.company_list li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    justify-content: center;
}
@media screen and (max-width:800px){
  .company_list li{
    flex-direction: column;
  }
}


.company_list div {
    width: 9.9%;
    max-width: 129px;
    margin-right: 104px;
    margin-left: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:800px){
  .company_list div{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
  }
}

.company_list_imgbase {
    width: 111px;
    height: 32px;
}

.company_list p {
    width: 52%;
    max-width: 677px;
    height: auto;
    margin: 10px 0;
    text-align: left;
    font-weight: 500;
    color: #000000;
}
@media screen and (max-width:800px){
  .company_list p{
    width: 100%;
    margin-bottom: 25px;
  }
}

.company_list_imgPE{
    width: 218px;
    height: 19px;
}

.company_list_imgBOC{
    width: 265px;
    height: 31px;
}

.company_list_imgcreava{
    height: 57px;
}

.company_list_imgsacsak{
    height: 19px;
    margin-top: 8px;
}

.company_list_QUARET{
    height: 42px;
}

.about_exhibitors{
    background-image: url("../img/Group 192.svg");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;

}
.about_exhibitors h1 {
    color: #81D7fc;
    font-style: italic;
    font-size: clamp(23px, 4vw, 54px);
    margin: 0;
    margin-bottom: 9px;
    text-align: center;
    padding-top: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.exhibit_companies {
    width: 100%;
    margin: 80px 0px;
    margin-bottom: 75px;
}
@media screen and (max-width:800px){
  .exhibit_companies{
    margin: 20px 0px;
  }
}

.exhibit_companies ul {
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    padding-top: 10px;
    max-width: 1232.670px;
}
@media screen and (max-width:800px){
  .exhibit_companies ul{
    text-align: center;
    padding: 0 0;
    font-size: clamp(15px, 2.5vw, 17px);
  }
}


.exhibit_companies li {
    width: 50%;
    max-width: 521px;
    box-sizing: border-box;
    margin: 5.5px 0;
    padding-left: 23px;
    font-weight: 500;
}
@media screen and (max-width:800px){
  .exhibit_companies li{
    padding-left: 0px;
  }
}

.about_exhibitors_p{
    text-align: right;
    width: 90%;
    max-width: 950px;
    font-size: 21px;
    margin: auto;
    margin-top: 23px;
    font-weight: 500;
}
@media screen and (max-width:800px){
  .about_exhibitors_p{
    font-size: clamp(16px, 2.6vw, 18px);
  }
}

.time_schedule{
    width: 100%;
    margin: 0;
    background-image: url("../img/background_4.png");
    background-size: cover;
    background-position: center;
    padding-top:  77px;
    padding-bottom:  186px;
}
@media screen and (max-width:800px){
  .time_schedule{
    padding-top: clamp(36px, 9vw, 77px);
    padding-bottom: clamp(54px, 11vw, 186px);
  }
}

.time_schedule h1{
    color: #00A8F0;
    /* transform: skewX(-10deg); */
    font-style: italic;
    font-size: clamp(23px, 4vw, 54px);
    margin: 0;
    margin-bottom: 9px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.time_schedule .bullet_point{
    color: white;
}
.time_schedule .bullet_point:before, .time_schedule .bullet_point:after{
    border-top: 1px solid white;
}


.speakers_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 32px;
    margin: auto;
    margin-top: clamp(28px, 7vw, 53px);
    justify-content: center;
    width: 88%;
    max-width: 1267px;
}
@media screen and (max-width:800px){
  .speakers_grid{
    flex-direction: column;
    gap: clamp(10px, 2.5vw, 20px) 28px;
  }
}

.speaker_card {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 0.83;
    background-color: #C1C7C9 ;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding-top: 7px;
    background-color: #F1FBFF99;
    
}
@media screen and (max-width:800px){
  .speaker_card{
    display: flex;
    flex-direction: row-reverse;
    max-width: 700px;
    aspect-ratio: 1 / 0.275;
    background-color: #F1FBFF99;
  }
}

.speaker_time_ribon{
    margin-right: auto;
    position: relative;
    right: 4px;
}
@media screen and (max-width:800px){
  .speaker_time_ribon{
    position: absolute;
    left: 5%;
  }
}

.speaker_time_ribon span{
    position: absolute;
    top: 0%;
    left: 3%;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
}
@media screen and (max-width:800px){
  .speaker_time_ribon span{
    font-size: clamp(13px, 3.3vw, 28px);
    font-weight: bold;
    position: absolute;
    top: 7%;
    left: 1%;
  }
  .speaker_time_ribon img{
    width: clamp(76px, 20vw, 150px)
  }
}

.speaker_icon{
    width: 44%;
    margin: auto;
}
@media screen and (max-width:800px){
  .speaker_icon{
    width: 25%;
    margin-right: calc(1% + 10px);
  }
}

.speaker_icons{
  width: 42%;
  margin: auto;
}
@media screen and (max-width:800px){
  .speaker_icons{
    width: 25%;
  }
}

.MC_icons{
  width: 48%;
  margin: auto;
}
@media screen and (max-width:800px){
  .MC_icons{
    width: 25%;
  }
}

.speaker_photo {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-top: -23px;
    display: flex
;
}
@media screen and (max-width:800px){
  .speaker_photo{
    margin-top:0px;
  }
}

.speaker_photos_3 {
    width: 85%;
    aspect-ratio: 1 / 1;
    margin-top: 5px;
    margin-left: 13px;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:800px){
  .speaker_photos_3{
    width: 70%;
    margin: auto;
    margin-right: -8px;
    justify-content: right;
  }
}

.spkeak_title {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: left;
    width: 100%;
    max-width: 300px;
    height: 92px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
}
@media screen and (max-width:800px){
  .spkeak_title{
    font-size: 24px;
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}

.spkeak_title p {
    margin: auto 0px;
    text-align: left;
    padding: 0px 20px;
    padding-top: 12px;
    font-weight: bold;
}
@media screen and (max-width:800px){
  .spkeak_title p {
    padding-top: 25px;
    font-size: clamp(15px, 3.5vw, 33px);
  }
}

.spkeak_title .spkeak_title_p_2{
    padding-left: 17px;
    padding-top: 0px;
}
@media screen and (max-width:800px){
  .spkeak_title .spkeak_title_p_2 {
    width: clamp(194px, 45vw, 364px);
    padding-top: 17px;
  }
  .spkeak_title .spkeak_title_p_3 {
    width: clamp(136px, 41vw, 364px);
  }
}

.speaker_photos_2 {
    width: 94%;
    aspect-ratio: 1 / 1;
    margin-top: -4px;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:800px){
  .speaker_photos_2{
    width: 80%;
    justify-content: right;
    margin-left: 29px;
    }
  }

.MC_card {
    width: 100%;
    max-width: 300px;
    max-height: 190px;
    background-color: #F1FBFF99;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding-top: 7px;
}
@media screen and (max-width:800px){
  .MC_card {
    max-width: 700px;
    aspect-ratio: 1 / 0.275;
    background-color: #F1FBFF99;
  }
}


.MC_photos_2 {
    width: 95%;
    aspect-ratio: 1 / 1;
    margin-top: -2px;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:800px){
  .MC_photos_2{
    width: 106%;
    margin-top: 7px;
  }
}

.MC_photos_2 .speaker_photo{
    width: 100%;
    margin: 0px 5px;
}


.hide_speaker {
  display: contents;
}
@media screen and (max-width:800px){
  .hide_speaker {
    display: none;
  }

  .hide_speaker.open{
    display: contents ;
  }
} 

.readmore, .readless {
  display: none;
}
@media screen and (max-width:800px){
  .readmore, .readless {
    aspect-ratio: 1 / 0.2;
    width: 34%;
    margin: auto;
    margin-top: 6px;
    display: block;
    background-color: transparent;
    color: white;
    border: white solid 1px;
    font-size: clamp(15px, 4.3vw, 40px);
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .readless{
    font-style: normal;
  }

  .transparent.active{
    background: linear-gradient(#F1FBFF99 80%,#F1FBFF60 90%, #F1FBFF00 100% )}
  
  .readmore.open, .readless.open{
    display: none;
  }
}


.FAQ{
    width: 100%;
    text-align: center;
    background-image: url("../img/back.svg");
    background-position: 100% 15%;
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: clamp(0px, calc(10.67vw - 41.6px), 112px);
}

.FAQ h1{
    color: #FDD35C;
    /* transform: skewX(-10deg); */
    font-style: italic;
    font-size: 54px;
    margin: auto;
    padding-top: 86px;
    margin-bottom: 9px;
    font-family: "Roboto", sans-serif;
}
@media screen and (max-width:800px){
  .FAQ h1{
    font-size: clamp(23px, 4vw, 54px);
    padding-top: 20px;
  }
}

.OAS_blocks {
    margin-top: clamp(28px, 5vw, 72px);
}

.QA_blocks{
    margin-bottom: clamp(22px, 5.5vw, 44px);
}
.qa_block {
    width: clamp(333px, 85vw, 778px);
    max-width: 778px;
    padding-left: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin: auto;
    /* margin-left: 22.8%; */
    margin-bottom: 16px;
}
.question {
    background: #00A8F0;
    border-radius: 50%;
    width: clamp(24px, 6vw, 32px);
    height: clamp(24px, 6vw, 32px);
    line-height: clamp(24px, 6vw, 32px);
    aspect-ratio: 1 / 1;
    text-align: center;
    color: white;
    font-size: clamp(14px, 3.5vw, 17px);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.QA_text{
    padding-left: 14px;
    font-size: clamp(16px, 2vw, 18px);
    color: #000000;
    font-weight: 500;
}

.QA_text a{
  text-decoration: none; 
  color: inherit; 
}
.answer {
    background: #FDD35C;
    border-radius: 50%;
    width: clamp(24px, 6vw, 32px);
    height: clamp(24px, 6vw, 32px);
    line-height: clamp(24px, 6vw, 32px);
    aspect-ratio: 1 / 1;
    text-align: center;
    color: white;
    font-size: clamp(14px, 3.5vw, 17px);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

footer{
    background-color: #2C2C2C;
    height: auto;
    width: 100%;
    padding-top: clamp(21px, 5vw, 59px);
    padding-bottom: clamp(17px, 2vw, 31px);
}

.companyRequest_link{
    border-radius: 25px;
    border: 2px solid white;
    margin: auto;
    display: block;
    width: 63%;
    max-width: 303px;
    text-align: center;
    padding: clamp(4px, 2vw, 10px) 0px;
}

.companyRequest_link a{
    color: white;
    text-decoration: none;
    font-size: clamp(15px, 3.8vw, 21px);
    letter-spacing: 1px;
    font-weight: bold;
}

.footer_hr{
  width: 83%;
  margin: auto;
  margin-top: clamp(15px, 3.9vw, 45px);
  margin-bottom: clamp(17px, 4.4vw, 26px);
  background: linear-gradient(to bottom, #2C3A56, #596A91, #6E7D9B);
}

.footer_info{
    display: flex;
    justify-content: center;
    gap: 0px 17px;
    align-items: center;
}

.footer_logo{
  width: clamp(113px, 28vw, 237px);
}
.footer_info img{
    width: clamp(120px, 30vw, 231px);
    position: relative;
    top: -5px;
    left: -8px;
}

.footer_info p{
  color: white;
  font-size: clamp(8px, 2vw, 13px);
  letter-spacing: 1px;
  font-weight: 500;
}

.side_item {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media screen and (max-width:800px){
  .side_item{
    display: none;
  }
}

.footer_item{
  display: none;
}
@media screen and (max-width:800px){
  .footer_item{
    display: block;
    position: fixed;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
  }
}

.blank_space{
    display: none;
}
@media screen and (max-width:800px){
  .blank_space{
    display: block;
    width: 100%;
    height: 100px;
  }
}